<div class="container-lg mt-5">
    <div class="row">
        <div class="alert alert-primary mt-3" *ngIf="islogin==true" role="alert">
            You are Successfully logged In! 
          </div>
      <div class="col-md-6 mx-auto my-5">
        <h1 class=" text-white rounded text-center p-1" id="bg-buffet">Login</h1>
        <form class="  p-4 rounded" [formGroup]="loginForm" id="bg-buffet">
          <label class="form-label text-muted">Email</label>
          <input formControlName="email" type="email" class="form-control">
          <mat-error class="text-white" *ngIf="loginForm.controls.email.errors?.['required']">Email is required!</mat-error>
          <mat-error class="text-white" *ngIf="loginForm.controls.email.errors?.['email']">Enter a valid Email Address</mat-error>
          <br><label class="form-label text-muted">Password</label>
          <input formControlName="password" type="password" class="form-control" >
          <mat-error class="text-white" *ngIf="loginForm.controls.password.errors?.['required']">Password is required!</mat-error><br>
          <a routerLink="/signup" class="text-white" style="cursor:pointer ;">Dont have an account? Register now!</a><br>
          <button [disabled]="!loginForm.valid" class="mx-auto rounded p-2 my-2" (click)="login()" id="btn">Login</button>
        </form>
      </div>
  
    </div>
  </div>
  
  